
<mat-card  >  
    <!-- Title of an Card -->  
    <mat-card-title>  
        Donnee des Employees
    </mat-card-title>  
  
    <!-- Actual content starts from here -->  
    <mat-card-content>  
        <table class="table" id="tab1">
            <tr>
                <td> <mat-form-field >
                        <mat-label>Select Pays</mat-label>
                        <mat-select  name="pays" [(ngModel)]="selectedPays" (ngModelChange)="selectedPays= $event" (ngModelChange)="onModelChange()" #pays="ngModel" >
                        <mat-option *ngFor="let pays of paysService.liste " 
                        [value]="pays.IdPays">
                        {{pays.NomPays}}
                        </mat-option>
                        </mat-select>
                    </mat-form-field></td>
                <td>
                        <mat-form-field >
                                <mat-label>Select Poste</mat-label>
                                                <mat-select name="poste" [(ngModel)]="selectedPoste" (ngModelChange)="selectedPoste= $event" (ngModelChange)="onPosteChange()" #poste="ngModel">
                                                <mat-option *ngFor="let poste of posteService.postes " [value]="poste.IdPoste">
                                                    {{poste.NomPoste}}
                                                </mat-option>
                                                </mat-select>
                                                </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                        <mat-form-field >
                                <mat-label>Select Version</mat-label>
                                                <mat-select name="situation" #situation="ngModel" [(ngModel)]="selectedSit" (ngModelChange)="selectedSit= $event" (ngModelChange)="onSitChange()">
                                                <mat-option *ngFor="let situ of list " [value]="situ.IdSituation">
                                                 Version :  {{situ.NumVersion}}
                                                </mat-option>
                                                </mat-select>
                          </mat-form-field>
                </td>
                <td>Etat de version : <br>
                <h3>{{Situation.Etat}}</h3></td>
            </tr>
        </table>
       
        <table *ngIf="Situation.IdSituation" class="table table-hover" id="tab">
                <tr *ngFor="let emp of empService.employees">
                    <td >{{emp.Nom}}</td>
                    <td >{{emp.Prenom}}</td>
                    <td >{{emp.SalaireDH}}</td>
                    <td>{{emp.Gratification}}</td>
                    <td>{{emp.DateRecrutement | date:'short'}}</td>
                    <td>{{emp.Observation}}</td>
                </tr>
       </table>
      <div class="panel-footer">
            <button class="btn btn-success " *ngIf="Situation.IdSituation"
            [disabled]="Situation.Etat==='Version valide'" 
            (click)="onCreate()">Nouveau Employee</button>
     
     
         
         <button class="btn btn-info" *ngIf="Situation.Etat==='En cours de modification' "
            [disabled]="Situation.Etat==='Version valide'"
           (click)="validate()"  >Valider la version</button> 
          
           <button class="btn btn-info " 
           *ngIf="(list?.length === 0 && selectedPoste) || Situation.Etat==='Version valide' "
             (click)="AddSituation()"
             [disabled]="test && list?.length !=0 ">Nouvelle version </button> 

      </div>
    </mat-card-content> 
     
</mat-card>  
<app-emp-form 
*ngIf="show"
[IdPays]=selectedPays
[IdPoste]=selectedPoste 
[IdSituation]=selectedSit ></app-emp-form>