/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/scss/bootstrap.scss";
@import '~@angular/material/theming';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~ngx-toastr/toastr.css'; 

mat-sidenav-content{
  height: 100%;
}
.container-fluid{
  height: 100% !important;
  margin: 0;
}
body{
    margin: 0;
    margin-bottom: 0 !important;
}
html, body{
  background-color: #f8f9fa !important;
}
.container{
  margin-top: 41px;
}
.sidenav-container { 
    height: 100%;
    
  }
  
  .sidenav {
    width: 250px;
  }
  
  .sidenav .mat-toolbar {
    background: #3f51b5;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .mat-sidenav-content{
    position: sticky;
  }
  .mat-sidenav-content {
    width: 100%;
  }

  
  #tab1{
    width :100%;
  }

  